In [2]:
import pandas as pd
import sqlite3

con = sqlite3.connect("src/datasets/etlbcb.db")
query = "select * from meios_pagamentos_tri"
df = pd.read_sql(query, con)
con.close()

In [ ]:
soma  = df['valorPix'].sum()
total = df['valorPix'].count()

print("Media das transações pix por trimestre: ",round(soma/total, 2))

Media das transações pix por trimestre:  2490206.54

Qual é a media do valor por transação pix no brasil?

In [26]:
soma_valores = df['valorPix'].sum()*1e6
soma_transacoes = df['quantidadePix'].sum()
media_por_transacoes = (soma_valores*1e3 / soma_transacoes)
print("Média de valores por transação: ", round(media_por_transacoes, 2))

Média de valores por transação:  430713035.67

Resolvendo com o pandas

In [ ]:
df['valorPix'].mean()*1e6

np.float64(2490206540416.667)

In [30]:
(df['valorPix']/df['quantidadePix']).mean()*1e3

np.float64(491.13828791552487)

In [31]:
soma1 = (df['valorPix']).mean()*1e3
soma2 = (df['quantidadePix']).mean()
soma1/soma2

np.float64(430.71303566561505)

In [32]:
df['valorPix']/df['quantidadePix']

0     0.429496
1     0.421567
2     0.409217
3     0.399935
4     0.406277
5     0.402046
6     0.415085
7     0.424720
8     0.428185
9     0.449777
10    0.466895
11    0.486545
12    0.499551
13    0.543742
14    0.590808
15    0.724828
16    0.850677
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
dtype: float64

 Trabalho Individual - Data Science
 
 Cálculo e interpretação das médias das demais variáveis numéricas presentes no conjunto de dados

In [3]:
# Selecionar apenas as colunas numéricas
df_numericas = df.select_dtypes(include='number')
df_numericas.head()

,valorPix,valorTED,valorTEC,valorCheque,valorBoleto,valorDOC,valorCartaoCredito,valorCartaoDebito,valorCartaoPrePago,valorTransIntrabancaria,...,quantidadeCheque,quantidadeBoleto,quantidadeDOC,quantidadeCartaoCredito,quantidadeCartaoDebito,quantidadeCartaoPrePago,quantidadeTransIntrabancaria,quantidadeConvenios,quantidadeDebitoDireto,quantidadeSaques
0,7714115.37,11647265.67,0.00,187486.45,2530070.72,0.00,728621.99,259929.79,85637.90,6994592.32,...,41511.28,1459164.03,0.00,5351537.72,4282401.27,3339927.19,492218.65,633961.05,3795103.04,658974.39
1,6975429.47,11180217.68,0.00,194330.60,2445000.04,0.00,663288.44,241932.98,78531.94,6721491.99,...,44243.73,1466737.40,0.00,5042306.16,4121806.10,3132433.07,426403.58,661918.39,3832577.08,664226.23
2,6284296.05,10662555.73,0.00,221553.82,2360423.79,0.00,631811.52,239101.56,77389.01,6185603.98,...,44981.97,1439100.25,0.00,4879707.17,4057958.85,3046233.97,328551.70,679418.05,3320590.50,698603.67
3,5429305.43,9651625.56,925.26,190457.25,2248972.68,650.80,607470.96,235111.60,73035.61,5394494.97,...,46468.88,1422731.42,662.65,4723437.71,3952365.16,2774237.04,277240.15,716794.83,3238699.12,683043.00
4,5300155.00,10090921.81,5787.89,221424.78,2317765.95,4684.98,630191.34,259057.92,79592.40,5620372.94,...,52101.15,1452479.47,4664.79,4813848.35,4238653.32,2974411.01,376307.77,669806.38,3102557.70,752440.67

In [4]:
# Calcular a média de cada variável numérica
medias = df_numericas.mean().to_frame(name='Média')
medias

                                     Média
valorPix                      2.490207e+06
valorTED                      8.838240e+06
valorTEC                      4.017849e+03
valorCheque                   2.670580e+05
valorBoleto                   1.991933e+06
valorDOC                      2.048479e+04
valorCartaoCredito            4.448634e+05
valorCartaoDebito             2.216744e+05
valorCartaoPrePago            4.204402e+04
valorTransIntrabancaria       4.771790e+06
valorConvenios                8.432920e+05
valorDebitoDireto             6.894681e+05
valorSaques                   6.725624e+05
quantidadePix                 5.781591e+06
quantidadeTED                 2.864225e+05
quantidadeTEC                 1.917135e+03
quantidadeCheque              7.970546e+04
quantidadeBoleto              1.389849e+06
quantidadeDOC                 2.729850e+04
quantidadeCartaoCredito       3.566431e+06
quantidadeCartaoDebito        3.482304e+06
quantidadeCartaoPrePago       1.618759e+06
quantidadeTransIntrabancaria  3.127498e+05
quantidadeConvenios           7.572482e+05
quantidadeDebitoDireto        2.174717e+06
quantidadeSaques              8.832784e+05

 Interpretação das Médias

valorPix → R$ 2.490.206,54
O Pix movimenta, em média, R$ 2,49 bilhões por trimestre.

Interpretação: Provavelmente o meio de pagamento mais utilizado atualmente, com uso massivo tanto por pessoas físicas quanto empresas. 

valorTED → R$ 8.838.239,77
Média de R$ 8,84 milhões por trimestre.

Interpretação: Apesar de ser um valor significativo, está muito abaixo do volume do Pix, indicando que a TED tem perdido espaço, mas ainda é usada para transferências de valor mais alto e/ou entre empresas.

valorTEC → R$ 4.017,85
Muito inferior às outras médias.

Interpretação: TEC (Transferência Eletrônica de Crédito, usada por órgãos públicos) tem uso bastante específico e limitado. Esse valor pequeno confirma que é um meio de pagamento de nicho.

valorCheque → R$ 267.058,03
Valor médio modesto.

Interpretação: Cheques estão em claro declínio no Brasil. Esse valor reforça o desuso gradual, permanecendo apenas em transações específicas e em menor escala.

valorBoleto → R$ 1.991.933,29
Média de quase R$ 2 bilhões por trimestre.

Interpretação: O boleto ainda é muito usado, especialmente em cobranças, pagamentos de serviços e compras online com parcelamento. Embora inferior ao Pix, continua relevante.

valorDOC → R$ 20.484,79
Muito baixo.

Interpretação: DOC está praticamente obsoleto, superado por Pix e TED. Esse valor mostra que seu uso é raríssimo.

valorCartaoCredito → R$ 444.863,44
Volume expressivo.

Interpretação: O cartão de crédito permanece muito utilizado, principalmente no consumo pessoal. A média sugere que ele tem papel importante, embora inferior ao Pix e boleto.

valorCartaoDebito → R$ 221.674,40
Uso relevante, mas menor que o crédito.

Interpretação: Com o surgimento do Pix, o uso do débito diminuiu. Ainda assim, segue sendo uma alternativa bastante presente no varejo.

valorCartaoPrePago → R$ 42.044,02
Valor modesto.

Interpretação: Cartões pré-pagos são utilizados em situações específicas (como vale-benefício ou viagens). Uso relativamente pequeno.

valorTransIntrabancaria → R$ 4.771.789,99
Volume alto.

Interpretação: Transferências internas (entre contas do mesmo banco) ainda são muito comuns. Valor elevado pode refletir movimentações empresariais ou automatizadas.